<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("http://www.shericaamatthews.com/separating-your-emotions-from-your-success/");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://stock.adobe.com/contributor/202891815/yuliaglam?load_type=author&prev_url=detail");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://stock.adobe.com/contributor/202891815/yuliaglam?load_type=author&prev_url=detail");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
</head>
<body>



<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h1 style="text-align:left;">Project Lengua API </h1>
  <h3> Natural Language Processing <br/> Sentiment Analysis to Better Understand Philippine Dialects </h3>
</div>

<div class="bgimg-2">
  <div class="caption">
  <section class="services">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="service-item first-service">
                          <div class="service-icon"></div>
                          <h4>Real-time Text Analysis</h4>
                          <p>Process analysis on raw text in one click.</p>

                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="service-item second-service">
                          <div class="service-icon"></div>
                          <h4>Dialects Support</h4>
                          <p>Support native dialects of Cordillera Administrative Region.</p>

                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="service-item third-service">
                          <div class="service-icon"></div>
                          <h4>Best Support</h4>
                          <p>s</p>

                      </div>
                  </div>
              </div>
          </div>
      </section>

  </div>
</div>


<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h4> Extract the opinion in documents, know what matters and derive the overall thought of the textual
     content</h4>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">
    <a href="/words/add" class = "btn btn-dark btn-lg">
        Get Started </a></span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h2> Better understanding of what matters. </h2>
  </div>
</div>

</body>
</html>

<!--

<div class="jumbotron text-center">
<h1 class="display-3">{{ title }} </h1>
<p class="lead">Sentiment analysis API for dialects in the Philippines</p>
<a href="/words/add" class="btn btn-dark btn-lg">Add Word</a>
</div>

-->