<div class="jumbotron text-center">
<h1 class="display-3">{{ title }} </h1>
<p class="lead">Sentiment analysis API for dialects in the Philippines</p>
<a href="/words/add" class="btn btn-dark btn-lg">Add Word</a>
</div>