<h2>
    Example Usage
    <small class="text-muted">Try to enter a sentence below</small>
</h2>
<hr>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Input
            </div>
            <div class="card-body">
                <textarea id="paragraph" class="form-control" name="" id="" cols="100" rows="10"></textarea>

                <button class="mt-2 float-right btn btn-primary" id="analyze-btn">Analyze</button>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Result
            </div>
            <div class="card-body">
                <pre><code id="result" style="font-size: 1.2em"></code></pre>
            </div>
        </div>
    </div>

</div>

<h2>API Usage</h2>
<hr>    
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Get Request
            </div>
            <div class="card-body">
                <p>The url</p>
                <pre><code>
                    /api/sentiment/sentence?sentence=good</code></pre>
                <h2>Parameters</h2>
                <p>
                    <strong>sentence</strong> - escaped sentence 
                </p>
                <h2>Returns the JSON object:</h2>
                <pre><code>
                        {
                                    score: 3,
                                    comparative: 3,
                                    tokens: [
                                        "good"
                                    ],
                                    words: [
                                        "good"
                                    ],
                                    positive: [
                                        "good"
                                    ],
                                    negative: [ ]
                        }
                </code></pre>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                POST Request: Multiple Sentences
            </div>
            <div class="card-body">
                <h3>The url</h3>
                <pre><code>
                    /api/sentiment/sentences
                </code></pre>
                <h2>Parameters</h2>
                <p>
                    <strong>sentences</strong> - array of sentences 
                </p>
                <h2>Returns the JSON object:</h2>
                <pre><code>
                    [
                        {
                                    score: 3,
                                    comparative: 3,
                                    tokens: [
                                        "good"
                                    ],
                                    words: [
                                        "good"
                                    ],
                                    positive: [
                                        "good"
                                    ],
                                    negative: [ ]
                        },
                         {
                                    score: -3,
                                    comparative: 3,
                                    tokens: [
                                        "bad"
                                    ],
                                    words: [
                                        "bad"
                                    ],
                                    positive: [],
                                    negative: [
                                    "bad"
                                    ]
                        }
                    ]
                </code></pre>
            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#analyze-btn').click(function () {
            $.ajax({
                url: '/api/sentiment/sentence',
                data: {
                    sentence: $('#paragraph').val()
                },
                success: function (res) {
                    $('#result').text(JSON.stringify(res, null, "\t"))
                },
            });
        });
    });
</script>